body {
    background-color: rgba(191, 191, 63, 0.15);
}

h1 {
    color: hsla(0, 0%, 0%, 0.8);
}

h2 {
    color: hsla(0, 0%, 86%, 0.8);
}

hr {
    color: hsla(0, 12%, 7%, 0.8);
}

p {
    color: hsla(0, 0%, 3%, 0.8);
}

a:link,
a:visited {
    color: hsla(0, 0%, 0%, 0.6);
    background-color: rgba(191, 191, 63, 0.6);
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
}

a:host {
    background-color: rgb(191, 191, 63);
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
}

a:active {
    background-color: rgba(191, 191, 63, 0.4);
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
}

li {
    margin: 15px;
}


.text {
    margin: auto;
    width: 50%;
    border: 3px solid rgba(191, 191, 63, 0.13);
    padding: 10px;
}

img {
    display: inline;
    margin: auto;
    width: 60%;
}